.btnGroup {
  border: 1px solid #b8cdff;
  border-radius: 2px;

  :global {
    .ant-btn {
      margin: 0 !important;
      border-color: #b8cdff !important;
      border-top: none;
      border-right: none;
      border-bottom: none;

      &:hover {
        color: #3363d7 !important;
      }

      &:first-child {
        border-left: none;
      }
    }

    .ant-btn:not(:first-child) {
      border-left: 1px solid #b8cdff;
    }

    .ant-btn-primary {
      background: #e0ecff !important;
      color: #3363d7 !important;
    }
  }
}
