{
  "printWidth": 150,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ]
}