@import '~@/assets/styles/mixin.less';

@focus-bg-color: #1348a2;

.link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: '#000';
}

:global {
  .ant-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    padding-left: 25px !important;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    font-weight: 500;
    font-size: 16px;

    user-select: none;

    &:hover {
      background: #f1f5fb;
    }

    &.selected {
      background: #f1f5fb;
    }

    .link {
      font-weight: 700;
    }
  }

  .ant-list-item:hover {
    color: @primary-color;
    font-weight: 500;
  }

  .ant-popover-arrow {
    border: none;
    box-shadow: none;
  }

  .ant-list-split .ant-list-item {
    border-bottom: none;
  }

  .ant-popover-placement-rightTop {
    padding-left: 8px;
  }

  .ant-popover-placement-right {
    padding-left: 8px;
  }

  .ant-popover-placement-rightBottom {
    padding-left: 8px;
  }

  .core-base-tags-nav-index-tabs {
    .ant-popover {
      background: rgba(245, 246, 249, 0.8);

      backdrop-filter: blur(2px);

      .ant-popover-inner {
        background: transparent;
      }

      .ant-popover-inner-content {
        padding: 24px 32px;
      }
    }
  }
}

.sider {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 16px;
  height: calc(100vh - 70px);
  background-size: 100% 100%;
  // background-image: url('@/assets/images/CustomMenu/slider_bg.png');
  background-repeat: no-repeat;

  user-select: none;

  :global {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }

    .ant-menu {
      overflow-x: hidden;
      overflow-y: auto;
      flex: 1;
      // background-color: transparent;
      // color: #fff;

      .ant-menu-submenu-arrow {
        // color: #fff;
      }

      .ant-menu-submenu-title {
        margin: 0 0 8px;
        font-size: 16px;
      }

      > .ant-menu-item {
        margin: 0 0 8px;
        font-size: 16px;

        a {
          // color: #fff;
        }

        &.ant-menu-item-selected {
          a {
            color: @primary-color;
          }
        }
      }
    }

    .ant-list {
      overflow-x: hidden;
      overflow-y: auto;
      flex: 1;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.swap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  background: #77bcf6;
  cursor: pointer;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  background-color: #e1e5f3;
  cursor: pointer;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  min-width: 122px;
  max-width: 540px;
  height: 100vh;

  .subMenu {
    width: 180px;

    .title {
      display: flex;
      align-items: center;
      width: 150px;
      height: 30px;
      color: @focus-bg-color;
      font-weight: 900;
      font-size: 14px;
      line-height: 1px;
    }

    .divider {
      margin: 8px 54px 8px 0;
      height: 1px;
      background-color: rgba(83, 138, 232, 0.8);
    }

    .menuItem {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      width: 180px;
      height: 30px;
      color: #000;
      font-weight: 400;
      font-size: 14px;
      line-height: 1px;

      &.thirdMenu {
        margin-bottom: 0;

        a {
          color: #000 !important;

          &:hover {
            color: @primary-color !important;
          }
        }
      }

      .menuItem:hover {
        background-color: #f1f6fb;
      }
    }
  }
}

.selected {
  // background-color: #f1f5fb;
  // color: @primary-color ;

  &.thirdMenu {
    background-color: transparent;

    a {
      padding: 0 8px;
      width: auto;
      background-color: @focus-bg-color;
      color: #fff !important;
    }
  }

  .link {
    color: @primary-color;
    font-weight: 500;
  }
}

.selected:not(.menuItem) {
  > a {
    color: rgba(0, 0, 0, 0.88) !important;
    font-weight: 400;
  }

  &:hover {
    > a {
      color: @primary-color !important;
    }
  }

  // border-right: 3px solid @primary-color;
}

.unselected {
  border-right: 3px solid @primary-color;
  background-color: #e7f4ff;

  .link {
    color: #fff;
  }
}

.unselected:hover {
  color: @primary-color;

  a {
    width: auto;
    color: @primary-color;
    font-weight: 500;
  }

  &.thirdMenu {
    a {
      padding: 0 8px;
      background-color: @focus-bg-color;
      color: #fff;
    }
  }
}
