.virtual-table {
  .virtual-table-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 10px;
    border-right: 1px solid #f0f0fe;
    border-bottom: 1px solid #f0f0fe;

    &.left {
      text-align: left !important;
    }

    &.right {
      text-align: right !important;
    }

    &.center {
      text-align: center !important;
    }
  }

  .virtual-table-cell-selected {
    padding: 10px;
  }

  .virtual-table-cell-center {
    justify-content: center;
  }

  .virtual-table-cell-left {
    justify-content: flex-start;
  }

  .virtual-table-cell-fix-left {
    position: sticky !important;
    left: 0;
    z-index: 9;
    justify-content: flex-start;
  }

  .virtual-table-cell-fix-right {
    position: sticky !important;
    right: 0;
    z-index: 9;
    justify-content: flex-end;
  }

  .virtual-table.show-left-shadow {

    .virtual-table-cell-fix-left-last,
    .ant-table-cell-fix-left-last {
      z-index: 9;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        width: 30px;
        box-shadow: inset 10px 0 8px -8px rgb(0 0 0 / 15%);
        content: '';
        transition: box-shadow 0.3s;
        transform: translateX(100%);
        pointer-events: none;
      }
    }
  }

  .virtual-table.show-right-shadow {
    .virtual-table-cell-fix-right-first {
      z-index: 9;

      &::before {
        position: absolute;
        top: 0;
        bottom: -1px;
        left: -30px;
        width: 30px;
        box-shadow: -2px 0 4px 0 #eee;
        content: '';
        transition: box-shadow 0.35s;
        transform: translateX(100%);
        pointer-events: none;
      }
    }
  }

  .header-container {
    .header-row {
      display: flex;
      flex-wrap: nowrap;

      .header-cell {
        display: block;
        padding: 0 16px;
      }
    }
  }

  .scroll-container {
    position: relative;
    overflow: auto scroll;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

    .table-content-container {
      height: 100%;

      .ant-empty {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .ant-empty-image {
          height: 88px;
        }
      }
    }
  }

  .table-content-container {
    position: absolute;
  }

  .row {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &.row-active {
      .virtual-table-cell {
        background-color: #f7f8ff !important;
      }
    }

    .virtual-table-cell {
      background-color: #fff;
    }

    &.row-grey {
      .virtual-table-cell {
        background-color: #fcfcfc;
      }
    }

    &:hover {
      .virtual-table-cell {
        background-color: #fafafb;
      }
    }
  }

  .fix-row-top {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: -5px 4px 6px 0 #ddd;
  }

  :global {

    // 使用ant-table-cell-fix-left-last-reset类覆盖默认样式
    .ant-table-wrapper .ant-table .ant-table-thead th.ant-table-cell-fix-left-last-reset {
      border-right: 1px solid #f0f0f0 !important;

      &::before {
        display: none;
      }
    }

    .ant-table-thead>tr>th[colSpan]:not(:last-child)::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 1.6em;
      background-color: rgb(0 0 0 6%);
      content: '';
      transition: background-color 0.3s;
      transform: translateY(-50%);
    }
  }
}