.ellipsis {
  overflow: hidden;
  width: 100%;
  word-wrap: break-word;
}

.lines {
  position: relative;

  .shadow {
    position: absolute;
    z-index: -999;
    display: block;
    color: transparent;
    opacity: 0;
  }
}

.lineClamp {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
