@blue: #3363D7;
@red: red;
@light-blue: rgba(184, 205, 255);

// btn
button.ant-btn-primary {
  border-radius: 2px;
  background: @blue;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
}

button.ant-btn-link span {
  color: @blue;
}

button.ant-btn-dangerous span {
  color: @red;
}


// select
.ant-select-selector .ant-select-selection-overflow .ant-select-selection-overflow-item {
  .ant-select-selection-item {
    background: #EBF2FF;
    color: @blue;
    font-weight: 400;
    font-size: 12px;
  }
}

// radio
.ant-picker.ant-picker-borderless {
  left: 20% !important;
  height: 32px;
  border: 1px solid @light-blue !important;
  background-color: rgba(255, 255, 255, 1) !important;
}

.ant-radio-group {
  margin-left: 0px;
  height: 25px;
}

.ant-picker-large .ant-picker-input>input {
  font-size: 12px;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  &:focus-within {
    box-shadow: none;
  }
}

.ant-radio-button-wrapper {
  border-color: @light-blue;
  background-color: #fff;
  color: rgba(11, 10, 25, 0.65);

  &:hover {
    color: @blue !important;
  }
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
  border-radius: 2px 0 0px 2px !important;
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:last-child {
  border-radius: 0 2px 2px 0 !important;
}

.ant-radio-button-wrapper-checked:not(:first-child)::before {
  background-color: @light-blue;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  background-color: @light-blue;
}

.ant-radio-button-wrapper-checked {
  border-color: @light-blue !important;
  background: #e0ecff !important;
  color: @blue !important;

  &:not(:first-child)::before {
    background-color: @light-blue !important;
  }

  &:hover {
    border: 1px solid @blue !important;
    background-color: rgb(224, 236, 255);

    &:not(:first-child)::before {
      background-color: @blue !important;
    }
  }
}