@import '~@/assets/styles/mixin.less';
@import '~@/assets/styles/compatible.less';
@import '~@/component.less';
@import '~@/assets/iconfont/iconfont.css';


h1,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: #f1f2f6;
}

#root {
  width: 100%;
  height: 100%;
  font-family: Roboto !important;
}

button,
[type='button'],
[type='submit'] {
  // background-color: cornflowerblue;
}

.ant-table-cell .ant-btn-link {
  color: @primary-color;
}

.ant-layout .ant-layout-sider .ant-menu>.ant-menu-item.ant-menu-item-selected a {
  color: @primary-color;
}

.ant-pro-global-header-layout-mix {
  background: #fff !important;
}

.ant-pro-global-header-layout-mix .ant-pro-global-header-logo h1 {
  color: #333 !important;
}

.ant-btn {
  border-radius: 4px;
}

.ant-pro-page-container-children-content {
  margin: 0;
}

// h5大小下 关闭table columns的 fixed效果
.ant-table-cell {
  @media screen and (max-width: 575px) {
    right: auto !important;
  }
}

// 修复h5大小下 展开菜单按钮默认为白色的情况
.anticon-menu-unfold {
  @media screen and (max-width: 575px) {
    color: rgb(0 0 0 / 85%) !important;
  }
}

.ant-pro-sider-light .ant-pro-sider-logo h1 {
  // color: hotpink;
}

// 隐藏多页签最右边的 < > svg
.panel-tabs-bar .ant-space-align-center {
  display: none;
}

.ant-menu-title-content {
  padding: 20px;
}

// .common-table {

//   .ant-spin-nested-loading,
//   .ant-spin-container,
//   .ant-table,
//   .ant-table-content,
//   .ant-table-scroll,
//   .ant-table-body {
//     height: 100%;
//   }

//   &.table-row-alternate-color-light {
//     width: 100%;
//     background: #fff;

//     tr:nth-child(odd) {
//       background: #fff;
//     }

//     tr:nth-child(even) {
//       background: #fcfcfc;
//     }
//   }

//   &.table-row-alternate-color-dark {
//     width: 100%;

//     tr:nth-child(odd) {
//       background: #fff;
//     }

//     tr:nth-child(even) {
//       background: #fcfcfc;
//     }
//   }

//   .ant-table-small>.ant-table-content>.ant-table-body {
//     margin: 0;
//   }

//   .ant-table-thead>tr>th,
//   .ant-table-tbody>tr>td,
//   .ant-table-summary>tr>td {
//     padding-right: 10px !important;
//     padding-left: 10px !important;
//   }

//   .ant-table-thead>tr>th {
//     // background-color: @color-main !important;
//     color: #333;
//     font-size: normal;
//   }
// }

.ant-pro-layout-content {
  padding: 0 !important;
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  // background-color: rgba(0, 0, 0, 0.02);
  pointer-events: none;
}


.ant-table-wrapper .ant-table-tbody .ant-table-row .ant-table-cell-ellipsis {
  white-space: inherit;
}