.ant-btn-link {
  min-width: 40px;
}

.ant-btn-group {
  justify-content: flex-end;
}

// tabs
.ant-tabs-content-holder {
  padding-top: 16px;
  background-color: #fff;
}

.ant-legacy-form-inline {
  .ant-legacy-form-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap !important;
    margin-right: 0;
    margin-bottom: 8px !important;
    width: 100%;
    color: rgba(0, 0, 0, 0.65) !important;
    font-size: 12px !important;

    .ant-legacy-form-item-control {
      padding-right: 0;
      line-height: 1.5;
    }

    .ant-legacy-form-item-children {
      display: block;
      line-height: 24px;

      .ant-picker {
        width: 108%;
      }

      .ant-picker-input {
        width: 100%;
      }
    }

    .ant_legacy-form-item-label {
      padding-right: 8px;
      line-height: 1.5;

      label {
        font-size: 12px;
      }
    }

    .ant-input-affix-wrapper {
      position: relative;
      padding: 0;
      border: none;

      input.ant-input {
        padding: 1px 7px;
        height: 24px;
        border: 1px solid #e5e5e5;

        &:not(:last-child) {
          padding-right: 30px;
        }
      }
    }

    .ant-picker-input {
      input {
        color: rgba(0, 0, 0, 0.65);
      }
    }

    .ant-select {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
