@text-pc: #333;
@text-rc: #666;
@text-sc: #999;
@text-hc: #c0c4cc;

@primary-color: blue;
@color-white: #fff;
@color-black: #000;
@color-main: #f5f7f9; //页面背录颜色
@color-red: #1348a2; // 主体红色（新版ui借用变量名，颜色改为其它颜色 ＃e03d3e-＞＃1348a2）
@color-green: #0aa908;
@color-menu: #191a23; // 菜单颜色
@color-mute: #f0f0f0;
@border-color-base: #eaeaea;
@border-color-main: #e8e8e8;
@shadow-1: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
@transition-ease-in: all 0.3s ease-in;
@transition-ease-out: all 0.3s ease-out;
@card-margin-top: 10px;
// 链按hover颜色
@link-hover-color: #234cdb;
//  按钮hover颜色

@error-color: red;
